.ingredient {
    display: block;
    position: relative;
}
.image {
    width: 50px;
    padding-left: 50px;
}
.nameIngredient {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 20px;
    left: 110px;
}
button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.add {
    left: 5px;
}
.trash {
    border: none;
    background: #ffffff;
    display: none;
}
.quantity {
    position: absolute;
    bottom: 5px;
    right: 110px;
}