.container {
  width: 800px;
  margin: 10px auto;
}
.ingredients {
  width: 350px;
  height: 400px;
  border: 1px solid black;
  float: left;
}
.burger {
  width: 350px;
  height: 400px;
  border: 1px solid black;
  float: right;
}
.name {
  margin-left: 10px;
  margin-top: 50px;
}
